.container {
  display: grid;
  place-items: center;
  width: 500px;
  margin: 0 auto !important;
}

.form {
  display: grid;
  margin-bottom: 0px;
}

.title {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.description {
  margin-bottom: 1rem;
  line-height: 25px;
}

.inputField {
  margin-bottom: 1rem;
}

.inputField div input {
  border: none;
  padding: 25px 14px 15px 14px;
  height: 15px;
}

.btnSubmit {
  margin: 0.5rem 0px;
}

.link {
  color: black;
  text-align: center;
  margin-bottom: 0.5rem;
}
