.container {
  display: grid;
  row-gap: 1rem;
}

.title {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.aboutMe textarea {
  min-height: 150px;
}

.btnSaveChanges {
  margin-left: auto;
}

.split {
  display: grid;
  grid-template-columns: 100%;
  grid-template-columns: 50% 50%;
}
