# Dependency directories
node_modules

# Dotenv environment files
.env

# Cache files
.firebase
.cache

# Build files/directories
dist
build
.github

# Firebase
.firebaserc

# Logs
logs
*.log
npm-debug.log*