.container {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
}

.feedContainer {
    display: grid;
    width: 850px;
    margin-bottom: 0px;
}

.feedContainer:hover {
    transform: none;
}

.profileContainer {
    width: 300px;
    height: min-content;
}

.profileFixed {
    width: 300px;
    position: fixed;
    transition: top 0.05s ease;
    transition: transform 0.5s ease;
}

.tabs {
    height: min-content;
}

.tab {
    text-transform: none !important;
}
