.container {
    display: grid;
}

.replyTextarea {
    border: 1px solid silver;
    resize: vertical;
    margin-bottom: 0.5rem !important;
}

.replyForm {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btnCancel {
    font-size: 0.95rem;
    cursor: pointer;
    margin: 0 10px 0 auto;
}

.btnCancel:hover {
    text-decoration: underline;
}

.btnSubmit {
    transform: scale(0.9);
    margin: 0;
    justify-self: flex-end;
}
