.middle {
    text-align: center;
}

.header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > * {
    margin: 1rem;
}

.flex {
    display: flex;
}

.headerSkeletonContainer {
    display: flex;
    justify-content: center;
}

.headerSkeleton {
    width: 500px;
    height: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 1.6rem;
}
