.middle {
    text-align: center;
}

.header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > * {
    margin: 1rem;
}

.flex {
    display: flex;
}
