.container {
    grid-template-columns: auto 30px;
    max-width: 800px;
}

.container .linkToPost {
    grid-column: 1 / 3;
}

.secondaryText {
    color: silver;
}

.postHeader {
    display: flex;
}

.postContent {
    margin: 0.5rem;
    margin-left: 0;
    font-size: 1.2rem;
    position: relative;
    width: 100%;
}

.postContent.preview {
    max-height: 300px;
    overflow: hidden;
}

.postContent > .fade {
    position: absolute;
    top: 250px;
    display: block;
    height: 50px;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.9) 100%
    );
}

.postBody {
    display: grid;
    grid-template-rows: 30% 70%;
    margin: auto 0 auto 0;
    align-items: center;
}

.authorAndDate {
    display: flex;
}

.postBody .authorAndDate {
    grid-column: 1 / 2;
    white-space: nowrap;
}

.authorAndDate .timeAgo {
    grid-row: 1 / 1;
    margin-left: 5px;
}

.subreddit {
    color: black;
    margin-right: 0.5rem;
    margin-bottom: 0;
}

.author {
    color: silver;
    font-size: 0.95rem;
    cursor: pointer;
    margin-left: 0.3rem;
    margin-bottom: 0;
}

.author:hover {
    text-decoration: underline;
}

.postBody .title {
    color: black;
    font-weight: bold;
    font-size: 1.7rem;
    margin: 0;
    grid-column: 1 / 3;
}

.postVoting {
    display: grid;
    padding: 0.5rem;
    grid-template-rows: 35px 35px;
    grid-template-columns: 30px 30px;
}

.postVoting .score {
    margin: auto;
    margin-left: 0;
    grid-row: 1 / 3;
}

.postVoting .arrows {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-row: 1 / 3;
    grid-column: 2 / 2;
}

.btnVote {
    cursor: pointer;
}

.btnDelete {
    cursor: pointer;
    justify-self: center;
    margin-top: 10px;
}

/*Post Markup styles*/

.postContent h1,
.postContent h2 {
    margin: 1rem 0 0.5rem 0;
}

.postContent h3,
.postContent h4 {
    margin: 0.5rem 0 0.2rem 0;
}

.postContent p {
    margin-bottom: 0.5rem;
}

.postContent span {
    display: flex;
}

.postContent span img,
.postContent span video {
    margin-left: auto;
    margin-right: auto;
}
