body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
html {
    margin: 0;
    padding: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.flex {
    display: flex;
}

.middle {
    text-align: center;
}

.btn:active {
    transform: scale(0.9);
}

.btn:hover {
    filter: brightness(0.9);
    text-decoration: none;
}

.btn[type='submit'] {
    color: white;
    background: #ff8c00;
}

.btn[type='submit']:hover {
    color: white;
    background: #ff8c00;
    filter: brightness(0.94);
}

.linkNoUnderline:hover {
    text-decoration: none;
}
