body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
html {
    margin: 0;
    padding: 0;
}

* {
    max-width: unset;
}

/* General */

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

button {
    background: rgb(240, 240, 240);
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1rem;
    font-size: 1.05rem;
    cursor: pointer;
}

button:active {
    transform: scale(0.9);
}

button:hover {
    background: rgb(230, 230, 230);
    text-decoration: none;
}

button:disabled {
    cursor: not-allowed;
}

button[type='submit'] {
    color: white;
    background: var(--colorOrange);
}

button[type='submit']:hover {
    color: white;
    background: var(--colorOrange);
    filter: brightness(0.94);
}

a {
    color: initial;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: initial;
}

a:focus-visible {
    outline: none;
}

input[type='search'] {
    padding: 8px;
}

h1 {
    font-weight: 600;
}

h2 {
    font-size: 1.6rem;
    font-weight: normal;
}

strong {
    font-weight: 600;
}

small {
    font-size: 0.9rem;
}

p {
    margin: 0;
    font-size: 1.1rem;
}

/* Global classes */

:root {
    --colorOrange: #ff8c00;
    --colorSilver: #ececec;
    --boxShadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.middle {
    text-align: center;
}

.linkNoUnderline:hover {
    text-decoration: none;
}

.linkNoUnderline:visited {
    color: initial;
}

.contentBox {
    display: grid;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: var(--boxShadow);
    transition: all 0.5s ease;
}

.contentBox:hover {
    transform: scale(1.02);
}

img {
    white-space: nowrap;
    font-size: 0.6rem;
}

.iconButton:hover {
    filter: brightness(0.9);
}

.iconButton:active {
    transform: scale(0.9);
}

/* MUI Tabs */

.MuiTabPanel-root {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/* Algolia search bar */

.ais-Hits ul {
    list-style-type: none;
}

.ais-Hits-list {
    margin: 0;
    padding: 0;
}
