.paper {
  display: flex;
  margin-bottom: 2px;
  height: 45px;
  position: relative;
}

.box {
  border: none;
  border-radius: 5px;
}

.icon {
  position: absolute;
  left: 14px;
  top: 14px;
}

:global(.ais-SearchBox) {
  width: 100%;
}

:global(.ais-SearchBox-form) {
  display: grid;
  grid-template-columns: auto min-content;
  height: 100%;
}

:global(.ais-SearchBox-input) {
  border: none;
  font-size: 1.31rem;
  padding-left: 40px !important;
  border-radius: 5px;
}

:global(.ais-SearchBox-submit) {
  display: none;
}

:global(.ais-SearchBox-reset) {
  display: none;
}

@media only screen and (max-width: 850px) {
  input[type='search'] {
    font-size: 0.9rem;
  }

  .icon {
    left: 10px;
  }

  .paper {
    margin-left: auto;
    margin-right: -7px;
    width: 38px;
  }

  .paper.focused {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    width: auto;
    transition: width 1s ease;
  }

  .paper:not(.focused) > :global(.ais-SearchBox) {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .paper {
    background: transparent !important;
    box-shadow: none !important;
  }

  .paper:not(.focused) .icon {
    color: white;
    left: 20px;
  }

  .paper:not(.focused) > :global(.ais-SearchBox) {
    display: none;
  }
}
