.paper {
  display: flex;
  margin-bottom: 10px;
  position: relative;
}

.box {
  border: none;
  border-radius: 5px;
}

.box input[type='search'] {
  border: none;
  font-size: 1.31rem;
  padding-left: 40px;
}

.icon {
  position: absolute;
  left: 14px;
  top: 14px;
}

@media only screen and (max-width: 850px) {
  .box input[type='search'] {
    font-size: 0.9rem;
  }

  .icon {
    color: black;
    left: 10px;
    top: 10px;
  }

  .paper {
    margin-left: auto;
    margin-right: -7px;
    width: 38px;
  }

  .paper.focused {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    transition: width 1s ease;
  }
}
