.formContainer {
    margin-left: auto !important;
    margin-right: auto !important;
    width: min-content;
}

.formContainer:hover {
    transform: none !important;
}

.form {
    display: grid;
    justify-content: center;
    grid-template-columns: clamp(500px, 700px, 900px);
    padding: 1rem;
    margin-bottom: 0;
}

.form > input[type='text'],
.form > button {
    margin-right: 0;
}

.label {
    margin-top: 0;
}

.title {
    border: 1px solid silver !important;
}

.content {
    min-height: 300px;
    border: 1px solid silver;
}

.btnSubmit {
    width: 130px;
    margin: 0 0 0 auto;
}

.selectSubreddit {
    align-items: center;
    width: 300px;
    margin-bottom: 1rem;
}
